body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1154px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:296px;
  width:100px;
  height:60px;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:86px;
  width:100px;
  height:60px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:518px;
  width:100px;
  height:60px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:395px;
  width:100px;
  height:60px;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:483px;
  width:100px;
  height:60px;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:571px;
  width:100px;
  height:60px;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:496px;
  width:100px;
  height:60px;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:26px;
  width:100px;
  height:60px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:124px;
  width:100px;
  height:60px;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:229px;
  width:100px;
  height:60px;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:326px;
  width:0px;
  height:0px;
}
#u12_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:69px;
  height:8px;
}
#u12_seg1 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:-214px;
  width:8px;
  height:218px;
}
#u12_seg2 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:-214px;
  width:19px;
  height:8px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:-88px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:116px;
  width:0px;
  height:0px;
}
#u13_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:79px;
  height:8px;
}
#u13_seg1 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:-64px;
  width:8px;
  height:68px;
}
#u13_seg2 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:-64px;
  width:20px;
  height:8px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:25px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:116px;
  width:0px;
  height:0px;
}
#u14_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:79px;
  height:8px;
}
#u14_seg1 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:-4px;
  width:8px;
  height:46px;
}
#u14_seg2 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:34px;
  width:20px;
  height:8px;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:116px;
  width:0px;
  height:0px;
}
#u15_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:79px;
  height:8px;
}
#u15_seg1 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:-4px;
  width:8px;
  height:151px;
}
#u15_seg2 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:139px;
  width:20px;
  height:8px;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:25px;
  top:34px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:356px;
  width:0px;
  height:0px;
}
#u16_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:144px;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:62px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:326px;
  width:0px;
  height:0px;
}
#u17_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:69px;
  height:8px;
}
#u17_seg1 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:-4px;
  width:8px;
  height:230px;
}
#u17_seg2 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:218px;
  width:19px;
  height:8px;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:78px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:548px;
  width:0px;
  height:0px;
}
#u18_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:79px;
  height:8px;
}
#u18_seg1 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:-127px;
  width:8px;
  height:131px;
}
#u18_seg2 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:-127px;
  width:20px;
  height:8px;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:25px;
  top:-40px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:548px;
  width:0px;
  height:0px;
}
#u19_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:79px;
  height:8px;
}
#u19_seg1 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:-39px;
  width:8px;
  height:43px;
}
#u19_seg2 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:-39px;
  width:20px;
  height:8px;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:548px;
  width:0px;
  height:0px;
}
#u20_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:79px;
  height:8px;
}
#u20_seg1 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:-4px;
  width:8px;
  height:61px;
}
#u20_seg2 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:49px;
  width:20px;
  height:8px;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:22px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:548px;
  width:0px;
  height:0px;
}
#u21_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:79px;
  height:8px;
}
#u21_seg1 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:-4px;
  width:8px;
  height:160px;
}
#u21_seg2 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:148px;
  width:21px;
  height:8px;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:25px;
  top:39px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:787px;
  width:100px;
  height:60px;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:326px;
  width:0px;
  height:0px;
}
#u23_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:69px;
  height:8px;
}
#u23_seg1 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:-4px;
  width:8px;
  height:499px;
}
#u23_seg2 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:487px;
  width:19px;
  height:8px;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:212px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:672px;
  width:100px;
  height:60px;
}
#u24_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u25_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:71px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:300px;
  width:110px;
  height:70px;
}
#u25_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  word-wrap:break-word;
}
#u26_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:310px;
  width:100px;
  height:60px;
}
#u26_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:116px;
  width:0px;
  height:0px;
}
#u27_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:79px;
  height:8px;
}
#u27_seg1 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:-4px;
  width:8px;
  height:232px;
}
#u27_seg2 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:220px;
  width:20px;
  height:8px;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:25px;
  top:74px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:71px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:172px;
  width:110px;
  height:70px;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  word-wrap:break-word;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:154px;
  width:0px;
  height:0px;
}
#u29_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:68px;
  height:8px;
}
#u29_seg1 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:-4px;
  width:8px;
  height:61px;
}
#u29_seg2 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:49px;
  width:17px;
  height:8px;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:-7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:259px;
  width:0px;
  height:0px;
}
#u30_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:68px;
  height:8px;
}
#u30_seg1 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:-57px;
  width:8px;
  height:61px;
}
#u30_seg2 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:-57px;
  width:12px;
  height:8px;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:340px;
  width:0px;
  height:0px;
}
#u31_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:78px;
  height:8px;
}
#u31_seg1 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:-9px;
  width:8px;
  height:13px;
}
#u31_seg2 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:-9px;
  width:14px;
  height:8px;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:56px;
  width:0px;
  height:0px;
}
#u32_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:68px;
  height:8px;
}
#u32_seg1 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:-4px;
  width:8px;
  height:159px;
}
#u32_seg2 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:147px;
  width:17px;
  height:8px;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:42px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:71px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:518px;
  width:110px;
  height:70px;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  word-wrap:break-word;
}
#u34_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:787px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u35_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:71px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:390px;
  width:110px;
  height:70px;
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  word-wrap:break-word;
}
#u36_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:71px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:782px;
  width:110px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  word-wrap:break-word;
}
#u37_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:60px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:456px;
  width:294px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:290px;
  word-wrap:break-word;
}
#u38_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:60px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:154px;
  width:294px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:290px;
  word-wrap:break-word;
}
#u39_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:60px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:14px;
  width:294px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:290px;
  word-wrap:break-word;
}
#u40_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:60px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:84px;
  width:294px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:290px;
  word-wrap:break-word;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:60px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:942px;
  width:294px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:290px;
  word-wrap:break-word;
}
#u42_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:60px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:787px;
  width:294px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:290px;
  word-wrap:break-word;
}
#u43_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:60px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:866px;
  width:294px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:290px;
  word-wrap:break-word;
}
#u44_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:60px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:386px;
  width:294px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:290px;
  word-wrap:break-word;
}
#u45_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:60px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:224px;
  width:294px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:290px;
  word-wrap:break-word;
}
#u46_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:60px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:316px;
  width:294px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u46_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:290px;
  word-wrap:break-word;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:513px;
  width:0px;
  height:0px;
}
#u47_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:78px;
  height:8px;
}
#u47_seg1 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:-4px;
  width:8px;
  height:48px;
}
#u47_seg2 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:36px;
  width:14px;
  height:8px;
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:601px;
  width:0px;
  height:0px;
}
#u48_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:78px;
  height:8px;
}
#u48_seg1 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:-52px;
  width:8px;
  height:56px;
}
#u48_seg2 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:-52px;
  width:14px;
  height:8px;
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:702px;
  width:0px;
  height:0px;
}
#u49_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:78px;
  height:8px;
}
#u49_seg1 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:-153px;
  width:8px;
  height:157px;
}
#u49_seg2 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:-153px;
  width:14px;
  height:8px;
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:24px;
  top:-50px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:425px;
  width:0px;
  height:0px;
}
#u50_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:88px;
  height:8px;
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:723px;
  top:207px;
  width:0px;
  height:0px;
}
#u51_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:131px;
  height:8px;
}
#u51_seg1 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:-167px;
  width:8px;
  height:171px;
}
#u51_seg2 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:-167px;
  width:14px;
  height:8px;
}
#u51_text {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-31px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:723px;
  top:207px;
  width:0px;
  height:0px;
}
#u52_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:131px;
  height:8px;
}
#u52_seg1 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:-97px;
  width:8px;
  height:101px;
}
#u52_seg2 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:-97px;
  width:14px;
  height:8px;
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:65px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:723px;
  top:207px;
  width:0px;
  height:0px;
}
#u53_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:131px;
  height:8px;
}
#u53_seg1 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:-27px;
  width:8px;
  height:31px;
}
#u53_seg2 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:-27px;
  width:14px;
  height:8px;
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:723px;
  top:207px;
  width:0px;
  height:0px;
}
#u54_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:131px;
  height:8px;
}
#u54_seg1 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:-4px;
  width:8px;
  height:55px;
}
#u54_seg2 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:43px;
  width:14px;
  height:8px;
}
#u54_text {
  border-width:0px;
  position:absolute;
  left:42px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:425px;
  width:0px;
  height:0px;
}
#u55_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:124px;
  height:8px;
}
#u55_seg1 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:-83px;
  width:8px;
  height:87px;
}
#u55_seg2 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:-83px;
  width:14px;
  height:8px;
}
#u55_text {
  border-width:0px;
  position:absolute;
  left:54px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:425px;
  width:0px;
  height:0px;
}
#u56_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:124px;
  height:8px;
}
#u56_seg1 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:-13px;
  width:8px;
  height:17px;
}
#u56_seg2 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:-13px;
  width:14px;
  height:8px;
}
#u56_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:425px;
  width:0px;
  height:0px;
}
#u57_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:124px;
  height:8px;
}
#u57_seg1 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:-4px;
  width:8px;
  height:69px;
}
#u57_seg2 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:57px;
  width:14px;
  height:8px;
}
#u57_text {
  border-width:0px;
  position:absolute;
  left:46px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:817px;
  width:0px;
  height:0px;
}
#u58_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:101px;
  height:8px;
}
#u58_text {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:817px;
  width:0px;
  height:0px;
}
#u59_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:92px;
  height:8px;
}
#u59_text {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:817px;
  width:0px;
  height:0px;
}
#u60_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:124px;
  height:8px;
}
#u60_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:817px;
  width:0px;
  height:0px;
}
#u61_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:114px;
  height:8px;
}
#u61_seg1 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:-4px;
  width:8px;
  height:87px;
}
#u61_seg2 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:75px;
  width:14px;
  height:8px;
}
#u61_text {
  border-width:0px;
  position:absolute;
  left:50px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:817px;
  width:0px;
  height:0px;
}
#u62_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:114px;
  height:8px;
}
#u62_seg1 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:-4px;
  width:8px;
  height:163px;
}
#u62_seg2 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:151px;
  width:14px;
  height:8px;
}
#u62_text {
  border-width:0px;
  position:absolute;
  left:60px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:60px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:693px;
  width:294px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u63_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:290px;
  word-wrap:break-word;
}
#u64_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:60px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:623px;
  width:294px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u64_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:290px;
  word-wrap:break-word;
}
#u65_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:60px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:553px;
  width:294px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u65_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:290px;
  word-wrap:break-word;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:553px;
  width:0px;
  height:0px;
}
#u66_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:124px;
  height:8px;
}
#u66_seg1 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:-4px;
  width:8px;
  height:38px;
}
#u66_seg2 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:26px;
  width:14px;
  height:8px;
}
#u66_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:553px;
  width:0px;
  height:0px;
}
#u67_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:124px;
  height:8px;
}
#u67_seg1 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:-4px;
  width:8px;
  height:108px;
}
#u67_seg2 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:96px;
  width:14px;
  height:8px;
}
#u67_text {
  border-width:0px;
  position:absolute;
  left:65px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:553px;
  width:0px;
  height:0px;
}
#u68_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:124px;
  height:8px;
}
#u68_seg1 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:-4px;
  width:8px;
  height:178px;
}
#u68_seg2 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:166px;
  width:14px;
  height:8px;
}
#u68_text {
  border-width:0px;
  position:absolute;
  left:70px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
